.site-header:after, .logo-wrap:after {
  clear: both;
  content: "";
  display: table; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *    user zoom.
   */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
   * Remove default margin.
   */
body {
  margin: 0; }

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none; }

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background: transparent; }

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:focus,
a:hover {
  outline: 0; }

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted; }

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold; }

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic; }

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000; }

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0; }

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px; }

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto; }

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible; }

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none; }

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal; }

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto; }

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold; }

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

img {
  vertical-align: top; }

p {
  margin: 0; }

a {
  text-decoration: none; }

html,
body {
  min-height: 100%; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.strikethrough {
  text-decoration: line-through; }

.bold {
  font-weight: bold; }

.cfix:after {
  clear: both;
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden; }

.site-container {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }

.example-site-footer {
  background: rgba(37, 38, 42, 0.94);
  bottom: 0;
  color: #fff;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  left: 0;
  padding: 0 20px 0 0;
  position: fixed;
  width: 100%;
  z-index: 4; }
  .example-site-footer .icon {
    fill: #fff;
    float: left; }
  .example-site-footer .content-left,
  .example-site-footer .content-right {
    height: 70px; }
  .example-site-footer .content-left {
    float: left; }
  .example-site-footer .content-right {
    float: right; }

.example-footer-content {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  position: relative;
  top: 50%; }

.example-footer-link {
  border-bottom: 1px solid #fff;
  color: #fff; }
  .example-footer-link:hover {
    border-bottom-width: 0; }

@media (max-width: 768px) {
  .example-site-footer .desktop {
    display: none; }
  .example-site-footer .mobile {
    text-transform: capitalize; } }

.site-wrap,
.site-container {
  position: relative;
  width: 100%; }

.site-header {
  position: relative; }

.responsive-nav {
  display: none;
  opacity: 0;
  visibility: hidden; }

.project-cover .separator:last-child,
.project-header .fields .separator:last-child {
  display: none; }

.nav-social:first-child li:first-child {
  padding-left: 0 !important; }

.logo,
.logo-secondary {
  clear: both;
  word-wrap: break-word; }
  .logo img,
  .logo-secondary img {
    max-width: 100%; }
  .logo a,
  .logo-secondary a {
    color: inherit; }
  .logo .image-link,
  .logo-secondary .image-link {
    display: inline-block;
    max-width: 100%; }
  .logo .image-rollover,
  .logo .image-scroll,
  .logo-secondary .image-rollover,
  .logo-secondary .image-scroll {
    display: none; }
  .logo.has-rollover:hover .image-link,
  .logo-secondary.has-rollover:hover .image-link {
    display: none; }
  .logo.has-rollover:hover .image-link.image-rollover,
  .logo-secondary.has-rollover:hover .image-link.image-rollover {
    display: block; }
  .on-scroll .logo.has-scroll .image-normal,
  .on-scroll .logo.has-scroll .image-rollover,
  .on-scroll .logo-secondary.has-scroll .image-normal,
  .on-scroll .logo-secondary.has-scroll .image-rollover {
    display: none !important; }
  .on-scroll .logo.has-scroll .image-scroll,
  .on-scroll .logo-secondary.has-scroll .image-scroll {
    display: block; }

.social {
  font-size: 0; }
  .social li {
    display: inline-block; }
    .social li:last-child {
      padding-right: 0 !important; }
  .social a {
    display: block;
    text-align: center; }
  .social svg {
    height: 100%;
    vertical-align: middle; }

nav .page-title,
nav .gallery-title,
nav .project-title,
nav .link-title,
nav .social,
nav .social li {
  display: inline-block;
  vertical-align: middle; }

nav .project-title:first-child,
nav .gallery-title:first-child,
nav .page-title:first-child,
nav .link-title:first-child {
  padding-left: 0 !important; }

nav .project-title:last-child,
nav .gallery-title:last-child,
nav .page-title:last-child,
nav .link-title:last-child {
  padding-right: 0 !important; }

.masthead {
  position: relative; }
  .masthead:after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .masthead h1,
  .masthead p {
    display: inline-block;
    width: 100%;
    word-wrap: break-word; }

.masthead,
.masthead-placeholder {
  width: 100%; }

.masthead-placeholder {
  opacity: 0;
  position: relative !important;
  z-index: -1; }

.masthead-contents,
.masthead-text {
  width: 100%; }

.masthead-contents {
  height: 100%;
  top: 0;
  z-index: 1; }

.masthead,
.masthead-contents {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.masthead-arrow-container {
  cursor: pointer;
  height: 40px;
  width: 60px; }

.masthead-arrow {
  -webkit-transform: rotate(45deg) translateY(-15px) translateX(5px);
  -moz-transform: rotate(45deg) translateY(-15px) translateX(5px);
  -ms-transform: rotate(45deg) translateY(-15px) translateX(5px);
  -o-transform: rotate(45deg) translateY(-15px) translateX(5px);
  transform: rotate(45deg) translateY(-15px) translateX(5px);
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  bottom: 5px;
  height: 30px;
  position: absolute;
  width: 30px; }

.masthead-button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; }
  .masthead-button + .masthead-button-spacer + .masthead-button {
    margin-left: 17px; }

.masthead-button-spacer {
  display: none; }

@media (max-width: 540px) {
  .masthead-button + .masthead-button-spacer {
    display: block;
    height: 17px; }
    .masthead-button + .masthead-button-spacer + .masthead-button {
      margin-left: 0; } }

.site-footer {
  clear: both;
  display: block; }

.site-header {
  display: -webkit-flex;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3; }
  .site-header.on-scroll {
    transition: background-color 0.3s ease, box-shadow 0.3s ease; }

.logo-wrap {
  flex: 1; }

.logo-wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 40%; }

.logo-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.logo-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.logo-secondary-text {
  float: left;
  text-align: left; }

.logo-secondary-image {
  max-width: 100%;
  float: left;
  text-align: left; }

.logo {
  font-family: ftnk;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0px; }
  .logo,
  .logo a {
    color: #ffffff; }
  .logo a:hover {
    color: #ffffff;
    font-style: normal;
    font-weight: 700; }

.logo-secondary {
  font-family: ftnk;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0px;
  text-transform: uppercase; }
  .logo-secondary,
  .logo-secondary a {
    color: #cccccc; }
  .logo-secondary a:hover {
    color: #cccccc;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase; }

nav {
  float: left;
  width: 30%; }
  nav .gallery-title a {
    color: #ffffff;
    font-family: ftnk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; }
    nav .gallery-title a:hover {
      color: #ffffff;
      font-style: normal;
      font-weight: 400; }
    nav .gallery-title a.active {
      color: #ffffff;
      font-style: normal;
      font-weight: 700; }
  nav .project-title a {
    color: #ffffff;
    font-family: ftnk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; }
    nav .project-title a:hover {
      color: #ffffff;
      font-style: normal;
      font-weight: 400; }
    nav .project-title a.active {
      color: #ffffff;
      font-style: normal;
      font-weight: 700; }
  nav .page-title a {
    color: #ffffff;
    font-family: ftnk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; }
    nav .page-title a:hover {
      color: #ffffff;
      font-style: normal;
      font-weight: 400; }
    nav .page-title a.active {
      color: #ffffff;
      font-style: normal;
      font-weight: 700; }
  nav .link-title a {
    color: #ffffff;
    font-family: ftnk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; }
    nav .link-title a:hover {
      color: #ffffff;
      font-style: normal;
      font-weight: 400; }

.nav-social {
  text-align: right; }
  .nav-social li {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px; }
  .nav-social a:hover svg {
    fill: #ffffff;
    opacity: 1; }
  .nav-social svg {
    fill: #ffffff;
    opacity: 1;
    width: 30px; }
  @media (max-width: 768px) {
    .nav-social li {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 8px;
      padding-right: 0px; } }
  @media (max-width: 540px) {
    .nav-social li {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 7px;
      padding-right: 0px; } }

.footer-social {
  text-align: center; }
  .footer-social li {
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 15px; }
  .footer-social a:hover svg {
    fill: #999999;
    opacity: 1; }
  .footer-social svg {
    fill: #aaaaaa;
    opacity: 1;
    width: 30px; }
  @media (max-width: 768px) {
    .footer-social li {
      padding-top: 0px;
      padding-bottom: 24px;
      padding-left: 0px;
      padding-right: 12px; } }
  @media (max-width: 540px) {
    .footer-social li {
      padding-top: 0px;
      padding-bottom: 20px;
      padding-left: 0px;
      padding-right: 10px; } }

.masthead-social {
  text-align: center; }
  .masthead-social li {
    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 15px; }
  .masthead-social a:hover svg {
    fill: #ffffff;
    opacity: 1; }
  .masthead-social svg {
    fill: #ffffff;
    opacity: 1;
    width: 30px; }
  @media (max-width: 768px) {
    .masthead-social li {
      padding-top: 32px;
      padding-bottom: 12px;
      padding-left: 0px;
      padding-right: 12px; } }
  @media (max-width: 540px) {
    .masthead-social li {
      padding-top: 26px;
      padding-bottom: 10px;
      padding-left: 0px;
      padding-right: 10px; } }

nav {
  padding-left: 0%;
  padding-right: 0%;
  text-align: left; }
  nav .gallery-title {
    padding-left: 0px;
    padding-right: 20px; }
  nav .project-title {
    padding-left: 0px;
    padding-right: 20px; }
  nav .page-title {
    padding-left: 0px;
    padding-right: 20px; }
  nav .link-title {
    padding-left: 0px;
    padding-right: 20px; }

.masthead {
  background-color: #ffffff;
  background-image: url("https://pro2-bar-s3-cdn-cf6.myportfolio.com/228fbf352f9e3a36beb5de9151d85aaa/a17f324e-aa08-407f-8698-52c11d9c032b_car_202x158.jpg?h=45b9eeb9da0a7bc04e63dd38fcfce5a4");
  /* stylelint-disable-line function-url-quotes */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  height: 85vh;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%; }
  .masthead:after {
    background-color: #fa3c33;
    display: block;
    opacity: 0.8; }
  .masthead h1 {
    color: #ffffff;
    font-family: ftnk;
    font-size: 70px;
    font-style: normal;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;
    text-transform: none; }
  .masthead p {
    color: #ffffff;
    font-family: ftnk;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    text-transform: none; }

.masthead {
  position: fixed; }

.masthead-placeholder {
  height: 85vh; }

.masthead-contents {
  max-width: 800px; }

.masthead-arrow-container {
  bottom: 45px;
  position: absolute;
  left: calc(50% - 30px); }

.masthead-arrow {
  border-bottom-color: #ffffff;
  border-right-color: #ffffff; }

.masthead-buttons {
  padding-top: 30px;
  text-align: center; }

@media (max-width: 768px) {
  .masthead {
    margin-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%; }
    .masthead h1 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 18px;
      margin-top: 0px; }
    .masthead p {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 0px;
      margin-top: 0px; }
  .masthead-buttons {
    padding-top: 18px; } }

@media (min-width: 541px) and (max-width: 768px) and (min-height: 921.6px) {
  .masthead, .masthead-placeholder {
    height: 80vh; } }

@media (max-width: 540px) and (min-height: 648px) {
  .masthead, .masthead-placeholder {
    height: 80vh; } }

@media (max-width: 540px) {
  .masthead {
    margin-bottom: 0px; }
    .masthead h1 {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 16px;
      margin-top: 0px; }
    .masthead p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0px;
      margin-top: 0px; }
  .masthead-buttons {
    padding-top: 16px; } }

.site-footer {
  font-family: ftnk;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 60px;
  text-align: center;
  text-transform: none;
  width: 100%; }
  .site-footer,
  .site-footer a {
    color: #999999; }

@media (max-width: 768px) {
  .site-footer {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 28px;
    padding-top: 28px; } }

@media (max-width: 540px) {
  .site-footer {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 25px;
    padding-top: 25px; } }

.site-content {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%; }

.site-header {
  -webkit-align-items: center;
  align-items: center;
  background-color: #f75a56;
  height: 70px;
  padding-bottom: 0px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0px;
  position: fixed; }
  .site-header.on-scroll {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; }
    .site-header.on-scroll .logo,
    .site-header.on-scroll .logo a {
      color: #fa2a2a; }
    .site-header.on-scroll .nav-social svg {
      fill: #fa2a2a;
      opacity: 1; }
    .site-header.on-scroll nav .page-title a {
      color: #fa2a2a; }
    .site-header.on-scroll nav .gallery-title a {
      color: #fa2a2a; }
    .site-header.on-scroll nav .project-title a {
      color: #fa2a2a; }
    .site-header.on-scroll nav .link-title a {
      color: #fa2a2a; }

.header-placeholder {
  display: block;
  height: 70px; }

.logo-image img {
  max-height: 70px; }

.nav-social {
  width: 30%; }

.hamburger-click-area {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  padding: 30px 5%;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 50%; }

.hamburger {
  position: relative;
  width: 24px; }
  .hamburger i {
    display: block;
    height: 2px;
    margin-bottom: 4px; }
    .hamburger i:last-child {
      margin-bottom: 0; }

@media (max-width: 768px) {
  nav {
    display: none;
    padding: 0;
    width: 100%; }
  .site-header {
    padding-left: 5%;
    padding-right: 5%; }
  .logo-wrap {
    max-width: 100%;
    padding: 0;
    width: 100%; }
  .logo {
    max-width: 100%;
    padding: 0 39px 0 0; }
  .logo-image {
    padding-left: 39px;
    margin-bottom: -5px;
    margin-top: -5px; }
    .logo-image img {
      max-height: 60px; }
  .logo-text {
    padding-left: 39px; }
  .logo-secondary {
    display: none; }
  .close-responsive-button {
    top: 40px; }
  .hamburger-click-area {
    display: block; }
  .hamburger i {
    background-color: #ffffff; }
  main,
  .site-container {
    width: 100%; }
  .site-content {
    margin: 0;
    padding: 0 0;
    width: 100%; }
  .responsive-nav {
    background-color: #fff;
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 50px 5% 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    transition: visibility 0s ease 0.2s, opacity 0.2s ease 0s;
    z-index: 99999; }
    .responsive-nav nav {
      float: none;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      width: 100%; }
    .responsive-nav.has-social {
      padding-bottom: 80px; }
    .responsive-nav .nav-container {
      width: 100%; }
    .responsive-nav .page-title,
    .responsive-nav .project-title,
    .responsive-nav .link-title,
    .responsive-nav .gallery-title {
      display: block;
      text-align: center; }
      .responsive-nav .page-title a,
      .responsive-nav .project-title a,
      .responsive-nav .link-title a,
      .responsive-nav .gallery-title a {
        font-size: 22px;
        line-height: 32px; }
    .responsive-nav .page-title,
    .responsive-nav .project-title,
    .responsive-nav .link-title,
    .responsive-nav .gallery-title {
      padding: 0 0 30px; }
    .responsive-nav .group {
      padding: 0; }
    .responsive-nav .social {
      text-align: center;
      width: 100%;
      background-color: #fff;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      bottom: 0;
      left: 0;
      margin: 0;
      min-height: 80px;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 5%;
      position: fixed; }
      .responsive-nav .social ul {
        white-space: nowrap; }
      .responsive-nav .social svg {
        width: 42px; }
      .responsive-nav .social li {
        display: inline-block;
        float: none !important;
        padding: 0 20px 0 0; }
        .responsive-nav .social li:last-child {
          padding-right: 0; }
  .close-responsive-click-area {
    cursor: pointer;
    padding: 50px 6%;
    position: fixed;
    right: 0;
    -webkit-tap-highlight-color: transparent;
    top: 0; }
  .close-responsive-button {
    height: 20px;
    position: fixed;
    right: 5%;
    width: 20px; }
    .close-responsive-button:before,
    .close-responsive-button:after {
      background-color: #ffffff;
      content: '';
      display: block;
      height: 20px;
      left: 50%;
      position: absolute;
      width: 2px; }
    .close-responsive-button:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .close-responsive-button:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .show-responsive-nav {
    overflow: hidden; }
    .show-responsive-nav .responsive-nav {
      opacity: 1;
      transition: visibility 0s ease 0s, opacity 0.2s ease 0s;
      visibility: visible; }
      .show-responsive-nav .responsive-nav nav {
        display: block; }
    .show-responsive-nav .site-header,
    .show-responsive-nav .site-container {
      display: none; }
  .site-footer {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%; } }

@media (max-width: 540px) {
  .close-responsive-click-area {
    padding: 40px 10%; }
  .close-responsive-button {
    top: 30px; }
  .logo {
    font-size: 22px;
    line-height: 22px; } }

@media (max-width: 768px) {
  .logo-container {
    width: 100%; } }

@media (max-width: 768px) {
  .site-header .nav-social {
    display: none; }
  .site-header.on-scroll .hamburger i {
    background-color: #f75a56; }
  .responsive-nav,
  .responsive-nav .social {
    background-color: #f75a56 !important; } }

.custom-content:after {
  clear: both;
  content: "";
  display: table; }

.custom img,
.custom object {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.custom-header .title {
  margin: 0 auto; }

.custom-container {
  width: 100%; }

.project-module {
  clear: both; }

.back-to-top .arrow {
  margin-right: 10px; }

.back-to-top-fixed {
  position: fixed;
  z-index: 3; }

.icon-back-to-top {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  left: 50%;
  position: absolute;
  top: 50%; }

.media-is-processing {
  display: none; }

.modules .form {
  clear: both;
  margin-left: auto;
  margin-right: auto; }
  .modules .form label {
    display: block; }
  .modules .form input,
  .modules .form textarea,
  .modules .form .submit-button {
    border-style: solid;
    border-width: 1px;
    outline: none; }
  .modules .form input,
  .modules .form textarea {
    -webkit-appearance: none;
    border-radius: 3px;
    padding-right: 10px;
    width: 100%; }
  .modules .form .error input,
  .modules .form .error textarea {
    border-color: #c00 !important; }
  .modules .form input {
    height: 42px;
    line-height: 42px; }
  .modules .form textarea {
    height: 132px;
    padding-bottom: 13px;
    padding-top: 13px; }
  .modules .form .submit-button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    width: auto; }
  .modules .form .contact-form-sent {
    display: none; }
  .modules .form .form-error {
    color: #c00;
    font-size: 12px;
    line-height: 12px;
    padding-top: 5px; }
  .modules .form .submit-text.processing {
    opacity: 0; }
  .modules .form.sent .contact-form {
    display: none; }
  .modules .form.sent .contact-form-sent {
    display: block; }

.grid--main {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
  visibility: hidden; }

/* added via JS by flexbox-sizer*/
.grid--ready {
  visibility: visible; }

.grid__item-container {
  box-sizing: content-box !important;
  display: inline-block;
  margin: 4px;
  position: relative; }

.grid__item-filler {
  background: rgba(0, 0, 0, 0.03);
  display: block; }
  .image-loaded ~ .grid__item-filler {
    background: transparent; }

.grid__item-image {
  position: absolute;
  top: 0;
  vertical-align: bottom;
  width: 100%; }

/* added via JS by flexbox-sizer*/
.grid__item-spacer {
  flex-grow: 90000000000; }

.custom-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: 0px;
  padding-top: 80px; }

.custom {
  margin-left: 1%;
  margin-right: 1%;
  width: 98%; }

.custom-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-bottom: 60px;
  padding-top: 90px;
  width: 100%; }
  .custom-header .title {
    color: #111111;
    font-family: ftnk;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-transform: none;
    width: 100%; }

@media (max-width: 768px) {
  .custom {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  .custom-header {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 28px;
    padding-top: 38px;
    width: 100%; }
    .custom-header .title {
      font-size: 31px;
      line-height: 31px;
      padding-bottom: 0px;
      padding-top: 0px; }
  .project-module-form {
    padding-left: 5%;
    padding-right: 5%; }
  .custom-container {
    max-width: 100%; } }

@media (max-width: 540px) {
  .custom-header {
    padding-bottom: 25px;
    padding-top: 33px; }
    .custom-header .title {
      font-size: 25px;
      line-height: 25px;
      padding-bottom: 0px;
      padding-top: 0px; } }

.modules .media_collection {
  margin-left: auto;
  margin-right: auto; }

.modules .image {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 0px;
  max-width: 100%;
  width: 100%; }

.modules .video {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 0px;
  max-width: 100%;
  width: 100%; }

.modules .embed {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 0px;
  max-width: 100%;
  width: 100%; }

.modules .audio {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 0px;
  max-width: 100%;
  width: 100%; }

.modules .text {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 20px;
  max-width: 800px;
  width: 100%; }

.modules .media_collection {
  padding-bottom: 40px;
  padding-top: 0px;
  max-width: 100%;
  width: 100%; }

.module-caption-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%; }

.rich-text .title {
  color: #333333;
  font-family: ftnk;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: center;
  text-transform: none; }

.rich-text .sub-title {
  color: #333333;
  font-family: ftnk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
  text-transform: none; }

.rich-text .main-text,
.rich-text div,
.rich-text p {
  color: #888888;
  font-family: ftnk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 15px;
  padding-top: 0px;
  text-align: center;
  text-transform: none; }

.rich-text a {
  color: #888888;
  text-decoration: underline;
  text-transform: none; }
  .rich-text a:hover {
    color: #888888;
    text-decoration: underline;
    text-transform: none; }

.rich-text .caption,
.module-caption div,
.module-caption p {
  color: #888888;
  font-family: ftnk;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  text-transform: none; }

@media (max-width: 768px) {
  .rich-text .title {
    font-size: 31px;
    line-height: 33px;
    padding-bottom: 18px;
    padding-top: 14px; }
  .rich-text .sub-title {
    font-size: 17px;
    line-height: 29px;
    padding-bottom: 8px;
    padding-top: 14px; }
  .rich-text .main-text,
  .rich-text div,
  .rich-text p {
    font-size: 17px;
    line-height: 22px;
    padding-bottom: 11px;
    padding-top: 0px; }
  .rich-text .caption,
  .module-caption div,
  .module-caption p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 14px;
    padding-top: 8px; }
  .modules .image,
  .modules .video,
  .modules .embed,
  .modules .audio,
  .modules .text {
    width: 100%; }
  .modules .image {
    padding-bottom: 20px;
    padding-top: 0px; }
  .modules .video {
    padding-bottom: 20px;
    padding-top: 0px; }
  .modules .embed {
    padding-bottom: 20px;
    padding-top: 0px; }
  .modules .audio {
    padding-bottom: 20px;
    padding-top: 0px; }
  .modules .text {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-top: 14px; } }

@media (max-width: 540px) {
  .rich-text .title {
    padding-bottom: 16px;
    padding-top: 13px; }
    .rich-text .title,
    .rich-text .title span {
      font-size: 25px !important;
      line-height: 27px !important; }
  .rich-text .sub-title {
    padding-bottom: 7px;
    padding-top: 13px; }
    .rich-text .sub-title,
    .rich-text .sub-title span {
      font-size: 14px !important;
      line-height: 24px !important; }
  .rich-text .main-text,
  .rich-text div,
  .rich-text p {
    padding-bottom: 10px;
    padding-top: 0px; }
    .rich-text .main-text,
    .rich-text .main-text span,
    .rich-text div,
    .rich-text div span,
    .rich-text p,
    .rich-text p span {
      font-size: 14px !important;
      line-height: 18px !important; }
  .rich-text .caption,
  .module-caption div,
  .module-caption p {
    padding-bottom: 13px;
    padding-top: 7px; }
    .rich-text .caption,
    .rich-text .caption span,
    .module-caption div,
    .module-caption div span,
    .module-caption p,
    .module-caption p span {
      font-size: 14px !important;
      line-height: 20px !important; }
  .modules .image {
    padding-bottom: 18px;
    padding-top: 0px; }
  .modules .video {
    padding-bottom: 18px;
    padding-top: 0px; }
  .modules .embed {
    padding-bottom: 18px;
    padding-top: 0px; }
  .modules .audio {
    padding-bottom: 18px;
    padding-top: 0px; }
  .modules .text {
    padding-bottom: 18px;
    padding-top: 13px; } }

.back-to-top {
  display: none; }

.back-to-top-fixed {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  display: block;
  bottom: 40px;
  height: 60px;
  width: 60px;
  right: 40px; }
  .back-to-top-fixed:hover {
    background: rgba(0, 0, 0, 0.2); }
    .back-to-top-fixed:hover .icon-back-to-top {
      fill: #000000;
      opacity: 0.5; }

.icon-back-to-top {
  fill: #000000;
  height: 24px;
  opacity: 0.3;
  position: absolute;
  width: 24px; }

@media (max-width: 768px) {
  .back-to-top-fixed {
    display: none; } }
